In [1]:
import pandas as pd
df=pd.read_csv(r"C:\Users\KAVIYA\Downloads\amazon_sales_dataset.csv")

In [2]:
df.head()

,order_id,order_date,product_id,product_category,price,discount_percent,quantity_sold,customer_region,payment_method,rating,review_count,discounted_price,total_revenue
0,1,2022-04-13,2637,Books,128.75,10,4,North America,UPI,3.5,443,115.88,463.52
1,2,2023-03-12,2300,Fashion,302.60,20,5,Asia,Credit Card,3.7,475,242.08,1210.40
2,3,2022-09-28,3670,Sports,495.80,20,2,Europe,UPI,4.4,183,396.64,793.28
3,4,2022-04-17,2522,Books,371.95,15,4,Middle East,UPI,5.0,212,316.16,1264.64
4,5,2022-03-13,1717,Beauty,201.68,0,4,Middle East,UPI,4.6,308,201.68,806.72

In [4]:
df.tail()

,order_id,order_date,product_id,product_category,price,discount_percent,quantity_sold,customer_region,payment_method,rating,review_count,discounted_price,total_revenue
49995,49996,2022-09-03,1433,Beauty,26.99,0,5,Middle East,Credit Card,2.4,386,26.99,134.95
49996,49997,2022-07-03,1428,Beauty,294.23,10,5,Asia,Credit Card,3.1,8,264.81,1324.05
49997,49998,2023-02-17,4651,Electronics,352.11,30,4,Asia,Debit Card,3.1,104,246.48,985.92
49998,49999,2022-09-30,4371,Beauty,307.54,5,1,Middle East,UPI,1.8,316,292.16,292.16
49999,50000,2023-06-29,2944,Home & Kitchen,253.44,30,1,Europe,Debit Card,2.1,464,177.41,177.41

In [5]:
df.dtypes

order_id              int64
order_date           object
product_id            int64
product_category     object
price               float64
discount_percent      int64
quantity_sold         int64
customer_region      object
payment_method       object
rating              float64
review_count          int64
discounted_price    float64
total_revenue       float64
dtype: object

In [8]:
df.isnull().sum()

order_id            0
order_date          0
product_id          0
product_category    0
price               0
discount_percent    0
quantity_sold       0
customer_region     0
payment_method      0
rating              0
review_count        0
discounted_price    0
total_revenue       0
dtype: int64

In [10]:
len(df.columns)

13

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          50000 non-null  int64
 1   order_date        50000 non-null  object
 2   product_id        50000 non-null  int64
 3   product_category  50000 non-null  object
 4   price             50000 non-null  float64
 5   discount_percent  50000 non-null  int64
 6   quantity_sold     50000 non-null  int64
 7   customer_region   50000 non-null  object
 8   payment_method    50000 non-null  object
 9   rating            50000 non-null  float64
 10  review_count      50000 non-null  int64
 11  discounted_price  50000 non-null  float64
 12  total_revenue     50000 non-null  float64
dtypes: float64(4), int64(5), object(4)
memory usage: 5.0+ MB

In [14]:
df['product_category'].unique()

array(['Books', 'Fashion', 'Sports', 'Beauty', 'Electronics',
       'Home & Kitchen'], dtype=object)

In [16]:
df.nunique()

order_id            50000
order_date            730
product_id           4000
product_category        6
price               31465
discount_percent        6
quantity_sold           5
customer_region         4
payment_method          5
rating                 41
review_count          500
discounted_price    30356
total_revenue       39768
dtype: int64

In [43]:
## 1) Which products are over-discounted but under-performing in revenue?

avg_discount=df['discount_percent'].mean()
print('Avg_Discount:',round(avg_discount,2))

Avg_Discount: 13.34

In [44]:
avg_revenue = df['total_revenue'].mean()
print('Avg_Revenue:',round(avg_revenue,2))

Avg_Revenue: 657.33

In [40]:
result=df[(df['discount_percent'] > avg_discount) & (df['total_revenue'] < avg_revenue)][['product_id', 'product_category', 'discount_percent', 'total_revenue']]

In [42]:
result

       product_id product_category  discount_percent  total_revenue
7            3537          Fashion                30         312.44
9            4174           Sports                15         229.18
10           4878      Electronics                20         215.76
17           3222   Home & Kitchen                30         329.58
22           1170           Beauty                15         616.08
...           ...              ...               ...            ...
49983        2593      Electronics                20         302.34
49985        4487   Home & Kitchen                20         530.60
49990        2689           Beauty                20         212.39
49993        3615           Sports                15         521.86
49999        2944   Home & Kitchen                30         177.41

[15827 rows x 4 columns]

In [50]:
## 2) How do product ratings relate to quantity sold?

rating_quantity=df.groupby('rating')['quantity_sold'].mean().reset_index()
rating_quantity

    rating  quantity_sold
0      1.0       3.016420
1      1.1       3.045342
2      1.2       2.968254
3      1.3       3.071661
4      1.4       2.977492
5      1.5       3.087490
6      1.6       2.999224
7      1.7       2.993631
8      1.8       3.002400
9      1.9       2.984985
10     2.0       2.992063
11     2.1       3.038278
12     2.2       2.976043
13     2.3       2.970803
14     2.4       2.988581
15     2.5       2.949470
16     2.6       2.937040
17     2.7       3.008842
18     2.8       2.997678
19     2.9       2.973663
20     3.0       3.027350
21     3.1       2.963606
22     3.2       2.992689
23     3.3       3.034127
24     3.4       3.040984
25     3.5       2.999240
26     3.6       2.984727
27     3.7       2.975000
28     3.8       2.961789
29     3.9       2.999218
30     4.0       3.037660
31     4.1       3.031426
32     4.2       2.993976
33     4.3       2.971315
34     4.4       3.014143
35     4.5       3.009427
36     4.6       2.997510
37     4.7       2.916868
38     4.8       3.029695
39     4.9       3.004112
40     5.0       3.040388

In [53]:
## 3) Which categories generate high revenue with low sales volume?

df.groupby('product_category').agg(
          total_revenue=('total_revenue', 'sum'),
          total_quantity=('quantity_sold', 'sum')
      ).reset_index()

  product_category  total_revenue  total_quantity
0           Beauty     5550624.97           25422
1            Books     5484863.03           25065
2      Electronics     5470594.03           24898
3          Fashion     5480123.34           25089
4   Home & Kitchen     5473132.55           24743
5           Sports     5407235.82           24753

In [55]:
df.to_csv('amazon_sales_cleaned.csv', index=False)